@*
    Copyright 2020 Hugo Lyppens

    DiscChangerConfig.cshtml is part of DiscChanger.NET.

    DiscChanger.NET is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    DiscChanger.NET is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with DiscChanger.NET.  If not, see <https://www.gnu.org/licenses/>.
*@
@page
@model DiscChangerConfig
@{
    ViewData["Title"] = "DiscChanger " + Model.Name;
    ViewData["Description"] = $"Specify a disc changer";
    ViewData["Image"] = "";
    var referrer = Request.Headers["Referer"];
}

<form method="post" id="changer" name="changer" aria-labelledby="legend">
    <fieldset>
        <legend id="legend">Disc Changer Details:</legend>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
        <label asp-for="Type">Type</label>
        @Html.DropDownListFor(m => m.Type,
                 new SelectList(global::DiscChanger.Models.DiscChanger.ChangerTypes), Model.OnChangeSubmit)
        @if (!String.IsNullOrEmpty(Model.Type))
        {
            @if (Model.ConnectionTypes != null)
            {
                <label asp-for="Connection">Connection Type</label>
                @Html.DropDownListFor(m => m.Connection,
                          new SelectList(Model.ConnectionTypes), Model.OnChangeSubmit)
            }
            @if (Model.Connection == global::DiscChanger.Models.DiscChanger.CONNECTION_SERIAL_PORT)
            {
                <label asp-for="PortName">Port</label>
                @Html.DropDownListFor(m => m.PortName,
                                             new SelectList(Model.SerialPortNames))
                <label asp-for="HardwareFlowControl">Hardware flow control</label>
                <input asp-for="HardwareFlowControl" type="checkbox" />

            }
            else if (Model.Connection == global::DiscChanger.Models.DiscChanger.CONNECTION_NETWORK)
            {
                <label asp-for="NetworkHost" title="Use DHCP reservation, configure fixed IP address, or assign DNS name">Host Name or IP Address</label>
                <input asp-for="NetworkHost" title="Use DHCP reservation, configure fixed IP address, or assign DNS name"/>
                <label asp-for="NetworkPort" title="While BDP-CX7000ES UPnP port is 8888, DiscChanger.NET uses port 6001 direct connection">Port Number</label>
                <input type="number" asp-for="NetworkPort" title="While BDP-CX7000ES UPnP port is 8888, DiscChanger.NET uses port 6001 direct connection" min="1024" max="65535" />
            }
            @if (Model.Type == DiscChangerSonyBD.BDP_CX7000ES)
            {
                <label asp-for="CommandMode" title="Part of command spec, but it appears you need to select BD1 regardless of configured remote control command set">Command Mode</label>
                @Html.DropDownListFor(m => m.CommandMode,
                                           new SelectList(DiscChangerSonyBD.CommandModes))
            }
            <button type="submit" name="op" value="Test">Test</button>
            <button type="submit" name="op" value="OK">OK</button>
        }
        <button type="submit" name="op" value="Cancel">Cancel</button>
    </fieldset>
    @if (Model.TestResult != null)
    {
        <h3>Test results:</h3>
        <pre>@Model.TestResult</pre>
    }
</form>
